*{
    margin: 0;
    padding:0;
    font-family: inter;
}
.page{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.top{
    height: 75vh;
    width: 100%;
    background-color: #ffcd9e;
    display: flex;
    justify-content: space-between;
}
.down{
    height: 25vh;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    text-align: right;
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    padding: 2vh 0vh 0 15vh ;
    width: 70%;
    height: 75%;
    /* background-color: orchid; */
  
}
.text0{
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 3vh; 
    color: #282828;   

}
.text1{
    width: 80%;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #484848;
    margin-bottom: 3vh; 
}
.text2{
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    font-weight: 800;
    text-align: left;
    color: #282828;
    margin-bottom: 3vh;
}
input{
    padding: 1.5vh 8vh  1.5vh 2vh;
    font-size: 16px;
    font-weight:700;
    text-align: left;
    border: 3px solid #282828;
    border-radius: 6px;

}
button{
    padding: 1.5vh 5vh;
    font-size: 16px;
    font-weight:700;
    text-align: left;
    color: #ffffff;
    background-color: #282828;
    border: 3px solid #282828;
    border-radius: 6px;

}
.text3{
    color: #ffffff;
    margin-top: 3vh;
    font-size:14px ;

}
.right img{
    height: 90%;
}
.list1{
    color: #ffffff;
    padding: 4vh 30vh;

}
.list1 ul li{
    list-style: none;
    margin-bottom: 1vh;
}

.list2{
    text-align: right;
    color: #ffffff;
    padding: 4vh 30vh;
}
.list2 ul li{
    list-style: none;
    margin-bottom: 1vh;
}
.list2 li img{
    margin-bottom: 2vh;
}

